.homepage__searchbar--container {
  padding: 7rem 0 4rem 1rem;
  text-align: center;
}

.homepage__searchbar {
  border-radius: 1.4rem;
  outline: none;
  padding: 0.7rem 1rem;
  border: none;
}

.homepage__searchbar--icon {
  position: relative;
  right: 1.8rem;
}
