.app__container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.app__navbar {
  width: var(--navbar-desktop-width);
  position: relative;
  background-color: white;
}

.app__navbar--list {
  display: flex;
  flex-direction: column;
}

.app__navbar--item {
  height: var(--navbar-desktop-width);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.app__navbar--item:last-of-type {
  position: absolute;
  bottom: 0;
  width: var(--navbar-desktop-width);
}

.app__navbar--item:hover,
.app__navbar--active {
  background-color: var(--navbar-item-hover);
}

.app_router {
  flex: 1;
  background-color: var(--app-bg-color);
}
