.editting__form {
  margin: auto;
  background-color: white;
  padding: 2rem;
  height: 100vh;
  padding-top: 1.5rem;
}

.questions {
  overflow: auto;
  height: 70vh;
  margin-top: 0.5rem;
}

.editting__action {
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
}

.editting__action--save {
  background-color: var(--app-bg-color);
  border: none;
  padding: 0.6rem 2rem;
  color: white;
  border-radius: 5px;
}

.editting__action--save:hover {
  background-color: black;
}

.editting__action--cancel {
  border: none;
  padding: 0.6rem 2rem;
  border-radius: 5px;
  margin-left: 0.5rem;
}

.editting__action--cancel:hover {
  background: none;
  color: var(--app-bg-color);
}

.quiz__accessibility {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

.form__input--radio {
  margin-right: 0.5rem;
}

.add__set--btn {
  margin-left: 0.5rem;
  cursor: pointer;
}

.add__set--btn:hover {
  color: var(--app-bg-color);
}
